
.aboutDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height:auto;
    height: 700px;
    width: 80%;
    margin: 2%;
}

.contentDiv{
    /* font-family: 'Open Sans Hebrew Condensed', serif; */
    font-weight:bold;
    font-size: 1.5em;
    direction: rtl;
    width: 500px;
    line-height: 1.6;
    margin: 2%;
}   

.imgDiv{
    z-index: 1;
    margin: 2%;
}


@media only screen and (max-width: 600px) {
  .aboutDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 650px;
    width: 80%;
    margin: 2%;
    text-align: center;
  }
  .contentDiv{
    font-size: medium;
    width: 90%;
  }
  .imgDiv{
    width: 70%;
    height: 50%;
    z-index: 1;
    margin: 2%;
}

  }