.mainDiv{
    height: 1000px; 
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: rtl;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 700px; 
    width: 60%;
    border: 1px solid black;
    text-align:right;    
}
.vForm{
    font-size: large;
    direction: rtl;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px; 
    width: 55%;
    border: 1px solid black;
    margin-bottom: 5%;
    padding-bottom: 8%;
    padding-top: 8%;
    text-align:right;    
}

.formContent{
    margin: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.famContent{
max-width: 100%;
max-height: 100%;
display: flex;
flex-direction: column;
}
.volContent{
width: 40%;
height: 40%;
display: flex;
flex-direction: column;
justify-content: flex-start;
}


.tableMainDiv {
    width: 100%;
    height: 700px;
    margin-top: 2%;

    direction: rtl;
}

.addBtn{
    margin-top: 2%;
    align-self: flex-start;
    width: 150px;
    height: 50px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delBtn{
    color: white;
    background-color: #FF6347;
}