@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


.mainDiv{
    font-family: 'Open Sans Hebrew Condensed', serif;
    font-weight:700;
    direction: rtl;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: whitesmoke;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 1%;

}

.toggleBtn{    
    font-family: 'Open Sans Hebrew Condensed', serif;
    font-size: 25px; 
    top:50%;
    background-color: #555555;
    color: #fff;
    border-radius:10px; 
    padding:15px; 
    margin-bottom: 5%;   
}
.toggleBtn:active {
    background-color: gray;
}
.infoDiv{
    font-family: 'Open Sans Hebrew Condensed', serif;
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    padding-top: 4%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.hebEventInfo{
    text-align: center;
    direction: rtl;
    font-family: 'Open Sans Hebrew Condensed', serif;
}

.enEventInfo{
    text-align: center;
    font-family: 'Open Sans Hebrew Condensed', serif;
}

.header{
    font-family: 'Open Sans Hebrew Condensed', serif;
    font-weight:700;
    direction: rtl;
    width: 40%;
    height: 40px;
    font-size: xx-large;
    align-self: center;
    margin-right: 20%;
    margin-top: 4%;
}


@media only screen and (max-width: 600px) {
    .mainDiv{
        font-family: 'Open Sans Hebrew Condensed', serif;
        font-weight:700;
        direction: rtl;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        color: whitesmoke;
        background-color: black;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-top: 1%;
        height: auto;
    
    }
    .infoDiv{
        font-size: larger;
        width: 80%;
        height: auto;
    }
    .header{
        font-size:x-large;
    }
}