.galleryDiv{
    margin-top: 2%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
}

.image{
  border: 1px solid #ccc;
  float: left;
  margin: 5px
}

.image:hover {
    cursor: pointer;
  }