@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

  
  .mainDiv{
    font-family: 'Open Sans Hebrew Condensed', serif;
    font-weight: bold;
    font-size: larger;
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000000;

  }
  .navBar{
    position: sticky;
    top: 0;
    left:0;
    background-color: white;
    width: 100%;
    border-bottom:1px solid #ccc!important;
    border: 2px;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navBtn {    
    width: 20%;  
    height: 50%;
    text-align: center;
    align-self: center; 
    cursor: pointer;
    position: relative;
    padding: 6px 21px;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

  .navBtn::after,
  .navBtn::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      transition: .5s;
  }
  
  .navBtn::after {
      top: -9px;
      left: -9px;
      border-top: 3px solid transparent;
      border-left: 3px solid transparent;
  }
  
  .navBtn::before {
      bottom: -9px;
      right: -9px;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
  }
  
  .navBtn:hover {
      color: #222222;
  }
  
  .navBtn:hover::after,
  .navBtn:hover::before {
      width: 30px;
      height: 30px;
      border-color: #222222;
  }
  #flex { display: flex; flex-direction: row; }
  .navIndex { order: 1; }
  .navLogo { order: 2; }

  .subHeader{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    align-self: flex-end;
    display: flex;
    margin: 1% 10% 1% 0;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 15%;
    height: 50px;
    font-size: larger;
    background-color: black;
    border: 1px solid black;
    color: whitesmoke;
  }