@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

.container {
  
  align-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans Hebrew Condensed', serif;
}

.mainImg{
  z-index:-1;
}

.aboutDiv{
  font-family: 'Open Sans Hebrew Condensed', serif !important;
  margin: 1%;
  width: 400px;
    height: 150px;
        color: whitesmoke;    
        background-color:black;
        text-align: center;
        font-size: 20px;
        cursor: pointer;        
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
}

.bottomLink{
  font-family: 'Open Sans Hebrew Condensed', serif;

}

@media only screen and (max-width: 600px) {
.aboutDiv{
  width: 100%;
  font-size: large;
margin: 0;
}
}