@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);


.mainDiv { 
	font-family: 'Open Sans Hebrew Condensed', serif;
    font-weight:bold;
    font-size: 1.5em;
    direction: rtl;
	background-color: white;
	font-family: Poppins, "Helvetica Neue", sans-serif; 
	background: black;
	  color: white;
	  padding: 0% 10% 5% 10%;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	
	.container-upload {
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  .upload-box {
		 
		border-width: thick;
		padding: 20px;
		border: 2px solid rgb(199, 199, 199);
		border-style: dashed;
		min-height: 200px;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		.content {
		padding: 1rem 0rem;
		  // display: flex;
		  // flex-direction: column;
		  text-align: center;
		  .upload-icon {
			img {
			  width: 10%;
			//   height: 8%;
			  display: block;
			  margin-left: auto;
			  margin-right: auto;
			}
			padding-bottom: 1rem;
		  }
		  .text {
			
			font-weight: 400;
			display: inline;
			color: smokewhite;
		  }
		  .uploadbtnwrapper {
			padding-top: 1rem;
			position: relative;
			overflow: hidden;
			display: inline-block;
		  }
	
		  .btn {
			// border: 2px solid gray;
			border: none;
			color: white;
			cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			background-image: linear-gradient(
			  to right top,
			  #3a5bfe,
			  #2c4dff,
			  #1f3dff,
			  #1428fe,
			  #0f00fc
			);
			padding: 10px 40px;
			border-radius: 3px;
	
			// border-radius: 20px;
			font-size: 1.1rem;
			font-weight:500;
		  }
	
		  .upload-btn-wrapper input[type="file"] {
			font-size: 100px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		  }
		}
	  }
	}